<ul class="navbar-nav sidebar accordion" id="accordionSidebar" style="background: linear-gradient(to right, rgba(94,231,223,0.5), rgba(180,144,202,0.5))">

  <!-- Logo dan Judul Aplikasi -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
      <div class="sidebar-brand-icon">
          <i class="fas fa-dice-d6"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Broadcast</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" >

  <!--Menu Home-->
  <li class="nav-item">
      <a class="nav-link text-primary" href="/home">
          <i class="fa fa-home "></i>
          <span>Home</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!--Pemisah Main Content-->
  <div class="sidebar-heading text-dark">
      Main Content
  </div>


  <li class="nav-item">
      <a class="nav-link text-primary" href="/chat">
          <i class="fas fa-solid fa-comments"></i>
          <span>Chat</span>
      </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-primary" href="/schedule">
        <i class="fas fa-solid fa-calendar-day"></i>
        <span>Schedule</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-primary" href="/variable">
        <i class="fas fa-solid fa-tractor"></i>
        <span>Variable</span>
    </a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!--Pemisah Admin-->
  <div class="sidebar-heading text-dark">
      Admin
  </div>

  <!--- Menu Reference-->

  <!--auth-->
  <li class="nav-item" id="navitemauth">
    <a class="nav-link text-primary" href="#" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities" role="button">
            <i class="fas fa-solid fa-qrcode"></i>
        <span>Authentication</span>
    </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Manage:</h6>
            <a class="collapse-item" href="/qr">QR</a>
        </div>
        </div>
    </li>

    <li class="nav-item" id="navitemreference">
        <a class="nav-link text-primary" href="#" data-toggle="collapse" data-target="#collapseReference"
            aria-expanded="true" aria-controls="collapseUtilities" role="button">
                <i class="fas fa-solid fa-database"></i>
            <span>Reference</span>
        </a>
            <div id="collapseReference" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manage:</h6>
                <a class="collapse-item" href="/calendar">Calendar</a>
            </div>
        </div>
        </li>
    


  <!--Menu Fitur
  <li class="nav-item">
      <a class="nav-link" href="fitur.php">
          <i class="fas fa-comment-alt"></i>
          <span>Rekap Fitur</span>
      </a>   
  </li>-->

  <!-- Divider -->
  <hr class="sidebar-divider">
  
  <!--Pemisah Other-->
  <div class="sidebar-heading text-dark">
      Other
  </div>

	<li class="nav-item">
    <a class="nav-link text-primary" href="#">
        <i class="fas fa-solid fa-newspaper"></i>
        <span>Panduan</span>
    </a>
  </li>


  <!-- Menu Leaderboard -->
  <!--<li class="nav-item">
      <a class="nav-link" href="charts.html">
      <i class="fas fa-chart-bar"></i>
      <span>Leaderboard</span></a>
  </li>-->

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>